@model HRworks.Models.Leave

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker({
            altField: "#alternate",
            altFormat: "MM,yy",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            dateFormat: "dd M yy"
        });
        $("#datepicker1").datepicker({
            altField: "#alternate",
            altFormat: "MM,yy",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            dateFormat: "dd M yy"
        });
        $("#datepicker2").datepicker({
            altField: "#alternate",
            altFormat: "MM,yy",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            dateFormat: "dd M yy"
        });
        $("#datepicker3").datepicker({
            altField: "#alternate",
            altFormat: "MM,yy",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            dateFormat: "dd M yy"
        });
        $("#datepicker4").datepicker({
            altField: "#alternate",
            altFormat: "MM,yy",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            dateFormat: "dd M yy"
        });
        $("#empno").chosen({ no_results_text: "Oops, nothing found!" });
    });

    function dayscount() {
        var a = new Date($("#datepicker3").val());
        var b = new Date($("#datepicker4").val());
        if ((a - b) == 0) {
            $("#days").val(1);
        } else {
        $("#days").val((a - b) / (1000 * 60 * 60 * 24));
        }
    }
</script>

@using (Html.BeginForm("Create", "Leaves", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" onclick="dayscount()">
        <h2>New Leave</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Employee_id, "Employee_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Employee_id", null, htmlAttributes: new { @class = "form-control", @id = "empno" })
                @Html.ValidationMessageFor(model => model.Employee_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                *@
                <input type="text"
                       id="datepicker"
                       class="form-control"
                       name="Date" />
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*
                    @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control" } })
                *@
                <input type="file"
                       id="fileBase"
                       name="fileBase" />
                @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Start_leave, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*
                    @Html.EditorFor(model => model.Start_leave, new { htmlAttributes = new { @class = "form-control" } })
                *@
                <input type="text"
                       id="datepicker4"
                       class="form-control"
                       name="Start_leave" />
                @Html.ValidationMessageFor(model => model.Start_leave, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.End_leave, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*
                    @Html.EditorFor(model => model.End_leave, new { htmlAttributes = new { @class = "form-control" } })
                *@
                <input type="text"
                       id="datepicker3"
                       class="form-control"
                       name="End_leave" />
                @Html.ValidationMessageFor(model => model.End_leave, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.days, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.days, new { htmlAttributes = new { @class = "form-control", @id = "days" } })
                @Html.ValidationMessageFor(model => model.days, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display: none">
            @Html.LabelFor(model => model.Return_leave, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*
                    @Html.EditorFor(model => model.Return_leave, new { htmlAttributes = new { @class = "form-control" } })
                *@
                <input type="text"
                       id="datepicker2"
                       class="form-control"
                       name="Return_leave" />
                @Html.ValidationMessageFor(model => model.Return_leave, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.leave_type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*
                    @Html.EditorFor(model => model.leave_type, new { htmlAttributes = new { @class = "form-control" } })
                *@
                @Html.DropDownList("leave_type", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.leave_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display: none">
            @Html.LabelFor(model => model.actual_return_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*
                    @Html.EditorFor(model => model.actual_return_date, new { htmlAttributes = new {  @id="datepicker",@class = "form-control"} })
                *@
                <input type="text"
                       id="datepicker1"
                       class="form-control"
                       name="actual_return_date" />
                @Html.ValidationMessageFor(model => model.actual_return_date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.half, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.half.Value)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" onclick="dayscount()">
                <input type="submit" value="Save" class="btn btn-default" onclick="dayscount()"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
