@model IEnumerable<HRworks.Models.Leave>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>leave</h2>
<div class="row">
    <div class="col-lg-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create")'" value="Create New" />
        
    </div>
    <div class="col-lg-7">
        <div class="row">
            <div class="col-lg-3">
                <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("report")'" value="Individual Report " />
                <br />
                <br />
                <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("reportserch")'" value=" Balance Inquiry" />
                <br />
                <br />
            </div>
            <div class="col-lg-4">
                @if (User.IsInRole("admin") || User.IsInRole("super_admin") || User.IsInRole("payrole"))
                {
                    <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("getallorone")'" value="Change/Enter Actual Return Date" />
                }
                <br />
                <br />
                <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("mrv")'" value="Periodic Report" />
            </div>
            <div class="col-lg-3">
                <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("leave_absence_Index")'" value=" Absence Report" />
                <br />
                <br />
                <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("getallonleave")'" value="On Leave" />
            </div>
        </div>
        </div>
</div>
<div class="row">
    <div class="col-lg-5">
    </div>
    <div class="col-lg-5">
    </div>
</div>
<br/>
<br/>
<br/>
@*
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>$1$
        <th>
            @Html.DisplayNameFor(model => model.Reference)
        </th>#1#
        <th>
            @Html.DisplayNameFor(model => model.Start_leave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_leave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.days)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.half)
        </th>$1$
        <th>
            @Html.DisplayNameFor(model => model.Return_leave)
        </th>#1#
        <th>
            @Html.DisplayNameFor(model => model.leave_type)
        </th>$1$
        <th>
            @Html.DisplayNameFor(model => model.actual_return_date)
        </th>#1#
        <th>
            @Html.DisplayNameFor(model => model.master_file.employee_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.master_file.employee_no)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    $1$
        <td>
            @Html.DisplayFor(modelItem => item.Reference)
        </td>#1#
    <td>
        @Html.DisplayFor(modelItem => item.Start_leave)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.End_leave)
    </td>
    <td>
        $1$
            helped by ahemed yousaf
        #1#
        @if (item.half == true)
        {
            var a = item.Start_leave;
            var b = item.End_leave;
            double days = 0;
            if (a == b)
            {
                days = 1;
            }
            else
            {
                var ab = b - a;
                if (ab.HasValue)
                {
                    days = ab.Value.TotalDays;
                    days = System.Math.Abs(days);
                    days += 1;
                }
            }
            days -= 0.5;
            @days.ToString()
        }
        else
        {
            if (item.days != null)
            {
                @Html.DisplayFor(modelItem => item.days)

            }
            else
            {
                var a = item.Start_leave;
                var b = item.End_leave;
                double days = 0;
                if (a == b)
                {
                    days = 1;
                }
                else
                {
                    var ab = b - a;
                    if (ab.HasValue)
                    {
                        days = ab.Value.TotalDays;
                        days = System.Math.Abs(days);
                        days += 1;
                    }
                }
                @days.ToString()
            }
        }

    </td>
    <td>
        @{
            if (item.half)
            {
                <p>YES</p>
            }
            else
            {
                <p>no</p>
            }
           
        }
    </td>
    $1$
        <td>
            @Html.DisplayFor(modelItem => item.Return_leave)
        </td>#1#
    <td>
        @if (item.leave_type == "1")
        {
            <i>Annual</i>
        }
        @if (item.leave_type == "2")
        {
            <i>Sick</i>
        }
        @if (item.leave_type == "3")
        {
            <i>Compassionate</i>
        }
        @if (item.leave_type == "4")
        {
            <i>Maternity </i>
        }
        @if (item.leave_type == "5")
        {
            <i>Haj</i>
        }
        @if (item.leave_type == "6")
        {
            <i>Unpaid </i>
        }
        @if (item.leave_type == "7")
        {
            <i> others</i>
        }
        @if (item.leave_type == "8")
        {
            <i>half - day</i>
        }
    </td>
    $1$
        <td>
            @Html.DisplayFor(modelItem => item.actual_return_date)
        </td>#1#
    <td>
        @Html.DisplayFor(modelItem => item.master_file.employee_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.master_file.employee_no)
    </td>
    $1$
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>#1#
</tr>
    }
</table>*@