@model IEnumerable<HRworks.Models.leavecalperyear>

@{
    ViewBag.Title = "lbpyindex";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-10">
            <input type="text" id="search" name="search" class="btn btn-default" />
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
    <br />
}
@if (Model.Count() > 0)
{
    var a = Model.First().master_file.employee_no.ToString();
    var b = Model.First().master_file.employee_name;
    <b>
        <p>
            @Html.DisplayNameFor(model => model.master_file.employee_no): @a <br />
            @Html.DisplayNameFor(model => model.master_file.employee_name) : @b
        </p>
    </b>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.balances_of_year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unpaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.net_period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accrued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.annual_leave_taken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Annual_Leave_Applied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Annual_Leave_total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leave_balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.forfited_balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sick_leave_balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sick_leave_balance_industrial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.compassionate_leave_balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maternity_leave_balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.haj_leave_balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UDDAH_leave_balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.escort_leave_balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paternity_leave_balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sabbatical_leave_balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.study_leave_balance)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.balances_of_year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unpaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.net_period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.accrued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.annual_leave_taken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annual_Leave_Applied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annual_Leave_total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leave_balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.forfited_balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sick_leave_balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sick_leave_balance_industrial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.compassionate_leave_balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maternity_leave_balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.haj_leave_balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UDDAH_leave_balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.escort_leave_balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paternity_leave_balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sabbatical_leave_balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.study_leave_balance)
            </td>
        </tr>
    }

</table>
