@model IEnumerable<HRworks.Models.leave_absence>

@{
    ViewBag.Title = "leave_absence_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Absence Report</h2>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function () {
        $("#datepicker1").datepicker({
            altField: "#alternate",
            altFormat: "MM,yy",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            dateFormat: "dd M yy"
        });
        $("#empno").chosen({ no_results_text: "Oops, nothing found!" });
    });
</script>
<br />
<br />
<br />
@using (Html.BeginForm())
{
<div class="row">
    <div class="col-md-5">
        <i>report month</i>
        <input type="text" id="datepicker1" name="eddate" class="form-control" />
        <br />
        <input type="submit" value="Search" class="btn btn-default" />
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("ImportExcel")'" value="upload" />
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create","leave_absence")'" value="Create new" />
    </div>
    <div class="col-md-5" style="left: 50%">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="back to main" />
    </div>

</div>

}
<br />
<br />
<br />
<table class="table">
    <tr>
        <th>
            SN#
        </th>
        <th>
            @Html.DisplayNameFor(model => model.master_file.employee_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.master_file.employee_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fromd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.absence)
        </th>
        <th></th>
    </tr>

    @{
        int i = 0;
    }
    @foreach (var item in Model)
    {
<tr>
    <td>
        @{
            i++;
        }
        @i
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.master_file.employee_no)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.master_file.employee_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.month.Value.Month)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fromd)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tod)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.absence)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", "leave_absence",new { id=item.Id ,eddate=@ViewBag.eddate},"") |
        @Html.ActionLink("Delete", "Delete", "leave_absence", new { id = item.Id, eddate = @ViewBag.eddate }, "")
        </td>
</tr>
    }

</table>
