@model IEnumerable<HRworks.Models.con_leavemodel>

@{
    ViewBag.Title = "mrv";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function () {
        $("#datepicker1").datepicker({
            altField: "#alternate",
            altFormat: "MM,yy",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            dateFormat: "dd M yy"
        });
        $("#datepicker2").datepicker({
            altField: "#alternate",
            altFormat: "MM,yy",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            dateFormat: "dd M yy"
        });
    });
</script>
<div class="row">
    <div class="col-md-5">
        <h2> periodic report</h2>
        <br />
    </div>
    <div class="col-md-5" style="left: 50%">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="back to main" />
    </div>
</div>
<script>
    document.onkeydown = function (e) {
        if (event.keyCode == 123) {
            return false;
        }
        if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
            return false;
        }
        if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
            return false;
        }
        if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
            return false;
        }
        if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
            return false;
        }
        if (e.ctrlKey && e.keyCode == 'P'.charCodeAt(0)) {
            $(':text').hide();
            $(':submit').hide();
            return true;
        } else {
            $(':text ').show();
            $(':submit').show();
        }
        return true;
    }
</script>
@using (Html.BeginForm())
{
    <p>
        from
    </p>
    <input type="text" id="datepicker1" name="eddate" class="form-control" />
    <br />
    <p>
        to
    </p>
    <input type="text" id="datepicker2" name="eddate1" class="form-control" />
    <p>
        leave type
    </p>
    @Html.DropDownList("leave_type", null, htmlAttributes: new { @class = "form-control" })
    <br />
    <input type="submit" value="Search" class="btn btn-default" />
}
<br />
<table class="table">
    <tr>
        <th>
            SN#
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_leave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_leave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Areturn_leave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leave_type)
        </th>
        <th>
            @Html.DisplayName("Days")
        </th>
    </tr>
    @{ var dp = "";}
    @{
        int i = 0;
    }
    @foreach (var item in Model)
    {
        if (dp != item.departmant_project)
        {
            dp = item.departmant_project;
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td colspan="7">
                    <b>@Html.DisplayFor(modelItem => item.departmant_project)</b>
                </td>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td>
                    @{
                        i++;
                    }
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employee_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employee_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start_leave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End_leave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Areturn_leave)
                </td>
                <td>
                    @if (item.leave_type == "1")
                    {
                        <i>Annual</i>
                    }
                    @if (item.leave_type == "2")
                    {
                        <i>Sick(non industrial)</i>
                    }
                    @if (item.leave_type == "3")
                    {
                        <i>Compassionate</i>
                    }
                    @if (item.leave_type == "4")
                    {
                        <i>Maternity </i>
                    }
                    @if (item.leave_type == "5")
                    {
                        <i>Haj</i>
                    }
                    @if (item.leave_type == "6")
                    {
                        <i>Unpaid </i>
                    }
                    @if (item.leave_type == "7")
                    {
                        <i> Sick(industrial)</i>
                    }
                    @if (item.leave_type == "8")
                    {
                        <i>UDDAH</i>
                    }
                    @if (item.leave_type == "9")
                    {
                        <i>ESCORT</i>
                    }
                    @if (item.leave_type == "10")
                    {
                        <i>PATERNITY</i>
                    }
                    @if (item.leave_type == "11")
                    {
                        <i>SABBATICAL</i>
                    }
                    @if (item.leave_type == "12")
                    {
                        <i>STUDY</i>
                    }
                    @if (item.leave_type == "13")
                    {
                        <i>Compensatory</i>
                    }
                </td>
                <td>
                    @*
            helped by ahemed yousaf
        *@
                    @if (item.half == true)
                    {
                        var a = item.Start_leave;
                        var b = item.End_leave;
                        double days = 0;
                        if (a == b)
                        {
                            days = 1;
                        }
                        else
                        {
                            var ab = b - a;
                            if (ab.HasValue)
                            {
                                days = ab.Value.TotalDays;
                                days = System.Math.Abs(days);
                                days += 1;
                            }
                        }
                        days -= 0.5;
                        @days.ToString()
                    }
                    else
                    {
                        {
                            var a = item.Start_leave;
                            var b = item.End_leave;
                            double days = 0;
                            if (a == b)
                            {
                                days = 1;
                            }
                            else
                            {
                                var ab = b - a;
                                if (ab.HasValue)
                                {
                                    days = ab.Value.TotalDays;
                                    days = System.Math.Abs(days);
                                    days += 1;
                                }
                            }
                            @days.ToString()
                        }
                    }

                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @{
                        i++;
                    }
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employee_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employee_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start_leave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End_leave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Areturn_leave)
                </td>
                
                <td>
                    @if (item.leave_type == "1")
                    {
                        <i>Annual</i>
                    }
                    @if (item.leave_type == "2")
                    {
                        <i>Sick(non industrial)</i>
                    }
                    @if (item.leave_type == "3")
                    {
                        <i>Compassionate</i>
                    }
                    @if (item.leave_type == "4")
                    {
                        <i>Maternity </i>
                    }
                    @if (item.leave_type == "5")
                    {
                        <i>Haj</i>
                    }
                    @if (item.leave_type == "6")
                    {
                        <i>Unpaid </i>
                    }
                    @if (item.leave_type == "7")
                    {
                        <i> Sick(industrial)</i>
                    }
                    @if (item.leave_type == "8")
                    {
                        <i>UDDAH</i>
                    }
                    @if (item.leave_type == "9")
                    {
                        <i>ESCORT</i>
                    }
                    @if (item.leave_type == "10")
                    {
                        <i>PATERNITY</i>
                    }
                    @if (item.leave_type == "11")
                    {
                        <i>SABBATICAL</i>
                    }
                    @if (item.leave_type == "12")
                    {
                        <i>STUDY</i>
                    }
                </td>
                <td>
                    @*
            helped by ahemed yousaf
        *@
                    @if (item.half == true)
                    {
                        var a = item.Start_leave;
                        var b = item.End_leave;
                        double days = 0;
                        if (a == b)
                        {
                            days = 1;
                        }
                        else
                        {
                            var ab = b - a;
                            if (ab.HasValue)
                            {
                                days = ab.Value.TotalDays;
                                days = System.Math.Abs(days);
                                days += 1;
                            }
                        }
                        days -= 0.5;
                        @days.ToString()
                    }
                    else
                    {
                        {
                            var a = item.Start_leave;
                            var b = item.End_leave;
                            double days = 0;
                            if (a == b)
                            {
                                days = 1;
                            }
                            else
                            {
                                var ab = b - a;
                                if (ab.HasValue)
                                {
                                    days = ab.Value.TotalDays;
                                    days = System.Math.Abs(days);
                                    days += 1;
                                }
                            }
                            @days.ToString()
                        }
                    }

                </td>
            </tr>
        }

    }

</table>
