@model IEnumerable<HRworks.Models.Leave>

@{
    ViewBag.Title = "reportsearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>report</h2>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker({
            altField: "#alternate",
            altFormat: "MM,yy",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            dateFormat: "dd M yy"
        });
        $("#datepicker1").datepicker({
            altField: "#alternate",
            altFormat: "MM,yy",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            dateFormat: "dd M yy"
        });
        $("#empno").chosen({ no_results_text: "Oops, nothing found!" });
    });
</script>

<p>
    <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create")'" value="Create New"/>
    <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("DownloadExcel1","Leaves",new{leave_bal_till=ViewBag.leave_bal_till,days=ViewBag.days })'" value="Export"/>
</p>
@using (Html.BeginForm())
{
    <i>no of days</i>
    <input type="text" id="days" name="days" class="form-control" />
    <br />
    <br />
    <i>report Date</i>
    <input type="text" id="datepicker1" name="leave_bal_till" class="form-control" />
    <br />
    <input type="submit" value="Search" class="btn btn-default" />
    <br />
    <br />
    <br />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.master_file.employee_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.master_file.employee_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leave_bal)
        </th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.master_file.employee_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.master_file.employee_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leave_bal)
            </td>
        </tr>
    }

</table>
