@model IEnumerable<HRworks.Models.Leave>

@{
    ViewBag.Title = "reportsearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>balance inquiry report</h2>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker({
            altField: "#alternate",
            altFormat: "MM,yy",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            dateFormat: "dd M yy"
        });
        $("#datepicker1").datepicker({
            altField: "#alternate",
            altFormat: "MM,yy",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            dateFormat: "dd M yy"
        });
        $("#empno").chosen({ no_results_text: "Oops, nothing found!" });
    });
</script>

<div class="row">
    <div class="col-md-5">
        <p>
            <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create")'" value="Create New" />
            <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("DownloadExcel1","Leaves",new{days=ViewBag.days })'" value="Export" />
        </p>
    </div>
    <div class="col-md-5" style="left: 50%">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="back to main"/>
    </div>
</div>
@using (Html.BeginForm())
{
    <i>no of days</i>
    <input type="text" id="days" name="days" class="form-control" />
    <br />
    <input type="submit" value="Search" class="btn btn-default" />
    <br />
    <br />
    <br />
}
<table class="table">
    <tr>
        <th>
            SN#
        </th>
        <th>
            @Html.DisplayNameFor(model => model.master_file.employee_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.master_file.employee_no)
        </th>
        @if (User.Identity.Name == "dinizsneden@gmail.com")
        {
            <th>
                @Html.DisplayName("id")
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.leave_bal)
        </th>
    </tr>

    @{
        int i = 0;
    }
    @foreach (var item in Model)
    {

        <tr>
            <td>
                @{
                    i++;
                }
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.master_file.employee_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.master_file.employee_no)
            </td>
            @if (User.Identity.Name == "dinizsneden@gmail.com")
            {
                <td>@item.Employee_id</td>
}
            <td>
                @Html.DisplayFor(modelItem => item.leave_bal)
            </td>
        </tr>
    }

</table>
