@model HRworks.Models.transferlist

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>transferlist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.requested_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.requested_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.approved_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.approved_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.effectivedate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.effectivedate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateadded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateadded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datemodifief)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datemodifief)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HRprojectlist.project_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRprojectlist.project_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HRprojectlist1.project_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRprojectlist1.project_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.master_file.employee_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.master_file.employee_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
