@model HRworks.Models.liquiexp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>liquiexp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.expence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.issuer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.issuer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
