
@{
    ViewBag.Title = "HR_Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HR Forms</h2>
<style>
    .btn {
        width: 100%;
        font-size: 100%
    }
</style>
<div class="row">
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="Recruitment Requisition" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="Job Interview Evaluation" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="Employment Information" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="INDUCTION TRAINING" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="PROBATION ASSESSMENT" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="CERTIFICATE REQUEST" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index","Leaves")'" value="LEAVE APPLICATION" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="DUTY HANDOVER" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="BUSINESS TRIP REPORT" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="EXIT INTERVIEW" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="Final Settlement - Calculation" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="ATTENDANCE ADJUSTMENT" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="Training Effectiveness" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="Training Evaluation" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="Training Request" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="EMPLOYEE JOINING/STATUS CHANGE" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="OVERTIME APPROVAL REQUEST" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="HOUSE RENT ALLOWANCE REQUEST"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index")'" value="MANPOWER TRANSFER REQUEST"/>
    </div>
</div>

