
@{
    ViewBag.Title = "HR_Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HR Forms</h2>
<style>
    .btn {
        width: 100%;
        font-size: 100%
    }
</style>
<div class="row">
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create","rec_req_form")'" value="Recruitment Requisition" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create","JOB_INTERVIEW_EVALUATION")'" value="Job Interview Evaluation" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create")'" value="Employment Information" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create","induction_training")'" value="INDUCTION TRAINING" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create","PROBATION_ASSESSMENT")'" value="PROBATION ASSESSMENT" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create","CERTIFICATE_REQUEST")'" value="CERTIFICATE REQUEST" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create","Leaves")'" value="LEAVE APPLICATION" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create","DUTY_HANDOVER")'" value="DUTY HANDOVER" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create","BUSINESS_TRIP_REPORT_")'" value="BUSINESS TRIP REPORT" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create","EXIT_INTERVIEW")'" value="EXIT INTERVIEW" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create")'" value="Final Settlement - Calculation" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create","ATTENDANCE_ADJUSTMENT")'" value="ATTENDANCE ADJUSTMENT" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create","Training_Effectiveness")'" value="Training Effectiveness" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create","Training_Evaluation")'" value="Training Evaluation" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create","Training_Request")'" value="Training Request" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create")'" value="EMPLOYEE JOINING/STATUS CHANGE" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create","OVERTIME_APPROVAL")'" value="OVERTIME APPROVAL REQUEST" />
    </div>
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create","HRA_requset")'" value="HOUSE RENT ALLOWANCE REQUEST"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-3">
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create","MANPOWER_TRANSFER_REQUEST")'" value="MANPOWER TRANSFER REQUEST"/>
    </div>
</div>

