@using HRworks.Controllers
@model IEnumerable<HRworks.Models.payrole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function() {
        $("#datepicker").datepicker();
    });
</script>
@using (Html.BeginForm("Index", "payroles", FormMethod.Get, new { id = "form1" }))
{
<div>
    month:-
    <input type="text" name="month" id="datepicker" class="form-control"/>
    <input type="submit"
           name="submit"
           value="Get records" ondblclick="norc()" class="btn btn-default"/>

    <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Report","Attendances")'" value="back to main"/>
</div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.master_file.employee_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.master_file.employee_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contract.basic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contract.salary_details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contract.ticket_allowance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contract.arrears)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalpayable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OTRegular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OTFriday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OTNight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HolidayOT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalOT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cashAdvances)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HouseAllow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contract.transportation_allowance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodAllow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timekeeping)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Communication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrafficFines)
        </th>
        <th>
            absence(days)
        </th>
        <th>
            LWOP(days)
        </th>
        <th>total LWOP</th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDedution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetPay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.master_file.employee_no)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.master_file.employee_name)
    </td>
    <td>
        @{
            var bas = payrolesController.Unprotect(item.contract.basic);
        }
        @bas
    </td>
    <td>
        @{
            var sal = payrolesController.Unprotect(item.contract.salary_details);
        }
        @sal
    </td>
    <td>
        @{
            var tic = 0d;
            if (item.TicketAllowance_ != null && !item.TicketAllowance_.Contains(" "))
            {
                double.TryParse(payrolesController.Unprotect(item.TicketAllowance_), out tic);

            }
        }
        @tic
    </td>
    <td>
        @{
            var arr = 0d;
            if (item.Arrears != null && !item.Arrears.Contains(" "))
            {
                double.TryParse(payrolesController.Unprotect(item.Arrears), out arr);

            }
        }
        @arr
    </td>
    <td>
        @{
            var ttp = payrolesController.Unprotect(item.totalpayable);
        }
        @ttp
    </td>
    <td>
        @{
            double.TryParse(payrolesController.Unprotect(item.OTRegular), out var a);
            a = a * 1.25;
        }
        @a
    </td>
    <td>
        @{
            double.TryParse(payrolesController.Unprotect(item.OTFriday), out var c);
            c = c * 1.5;
        }
        @c
    </td>
    <td>
        @{
            var d = 0d;
            if (item.OTNight != null && item.OTNight.Contains(" "))
            {
                double.TryParse(payrolesController.Unprotect(item.OTNight), out d);

            }
        }
        @d
    </td>
    <td>
        @{
            double.TryParse(payrolesController.Unprotect(item.HolidayOT), out var b);
            b = b * 2.5;
        }
        @b
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Fot)
        @{
            double.TryParse(payrolesController.Unprotect(item.contract.FOT), out var e);
        }
        @e
    </td>
    <td>@{
        var tot = a + b + c + d + e;
        }
        @tot
    </td>
    <td>
        @{
            var ca = 0d;
            if (item.cashAdvances != null && !item.cashAdvances.Contains(" "))
            {
                double.TryParse(payrolesController.Unprotect(item.cashAdvances), out ca);

            }
        }@ca
    </td>
    <td>
        @{
            var ha = 0d;
            if (item.HouseAllow != null && !item.HouseAllow.Contains(" "))
            {
                double.TryParse(payrolesController.Unprotect(item.HouseAllow), out ha);

            }
        }@ha
    </td>
    <td>
        @{
            var tra = 0d;
            if (item.TransportationAllowance_ != null && !item.TransportationAllowance_.Contains(" "))
            {
                double.TryParse(payrolesController.Unprotect(item.TransportationAllowance_), out tra);
            }
        }
        @tra
    </td>
    <td>
        @{
            var fa = 0d;
            if (item.FoodAllow != null && !item.FoodAllow.Contains(" "))
            {
                double.TryParse(payrolesController.Unprotect(item.FoodAllow), out fa);

            }
        }@fa
    </td>
    <td>
        @{
            var tk = 0d;
            if (item.Timekeeping != null && !item.Timekeeping.Contains(" "))
            {
                double.TryParse(payrolesController.Unprotect(item.Timekeeping), out tk);

            }
        }
        @tk
    </td>
    <td>
        @{
            var con = 0d;
            if (item.Communication != null && !item.Communication.Contains(" "))
            {
                double.TryParse(payrolesController.Unprotect(item.Communication), out con);

            }
        }@con
    </td>
    <td>
        @{
            var traf = 0d;
            if (item.TrafficFines != null && !item.TrafficFines.Contains(" "))
            {
                double.TryParse(payrolesController.Unprotect(item.TrafficFines), out traf);

            }
        }@traf
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.leave_absence.absence)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Leave.days)
    </td>
    <td>
        @{
            var labs = 0d;
            var ldays = 0d;
            double.TryParse(sal, out var gross);
            if (item.leave_absence != null)
            {
               labs = item.leave_absence.absence.Value;
            }
            if (item.Leave != null)
            {
                 ldays = item.Leave.days.Value;
            }
            var TLWOP = (labs + ldays)*(gross * 12 / 365);
        }
        @TLWOP
        
    </td>
    <td>
        @{
            var tod = 0d;
            if (item.TotalDedution != null)
            {
                double.TryParse(payrolesController.Unprotect(item.TotalDedution), out tod);

            }
        }
        @tod
    </td>
    <td>
        @{
            var net = 0d;
            if (item.NetPay != null && !item.NetPay.Contains(" "))
            {
                double.TryParse(payrolesController.Unprotect(item.NetPay), out net);

            }
        }@net
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.remarks)
    </td>
    <td>
        @if (item.Id != 0)
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
        }
    </td>
</tr>
}

</table>
