<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/favicon.ico")
    <script type="text/javascript">
        var i = 0;
        $(document).ready(function () {
            ShowCurrentTime();
        });
        $(document).body.onclick(reset());

        function reset() {
            i = 0;
        }

        function ShowCurrentTime() {
            $('input').addClass("btn btn-default");
            var dt = new Date();
            document.getElementById("lblTime").innerHTML = 180 - i + " Seconds";
            i++;
            if (i == 170) {
                document.getElementById("lblTime").style.display = "";
            }
            if (i == 180) {
                setTimeout("javascript:document.getElementById('logoutForm').submit()", 0);
            }
            window.setTimeout("ShowCurrentTime()", 1000);
        }

    </script>

    <script>
        document.onkeydown = function (e) {

            if (e.ctrlKey && e.keyCode == 'P'.charCodeAt(0)) {
                $('.btn ').hide();
                $(':submit').hide();
                $('#foot').hide();
                return true;
            } else {
                $('.btn ').show();
                $(':submit').show();
                $('#foot').show();
            }
            return true;
        }
    </script>
    <script>
        function navpos() {
            var  nav = document.querySelector('#navpos');
            var th = document.querySelector('.body-content').getElementsByTagName("th");
            var  width = nav.offsetWidth;
            var height = nav.offsetHeight;
            var topst = height + "px";
            for (var i = 0; i < th.length; i++) {
                th[i].style.top = topst;
            }
        }
    </script>
    <style>
        table {
            width: 100%;
            background-color: #eeeeee;
            border-collapse: collapse;
        }

        th, .navbar, .nav {
            background-color: #152939 !important;
            color: white !important;
        }

        th, tr, td {
            border: 1px solid black !important;
            padding: 0.3%
        }

        button {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */

        input[type=number] {
            -moz-appearance: textfield;
        }

        table th {
            position: -webkit-sticky;
            position: sticky;
        }
        .dd1, .dd2 {
            background-color: #152939 !important;
            float: left;
            margin-top: 14px;
        }
        .navbar-right {
            margin-right: 0px
        }
        .dropdown-menu {
            background-color: #152939 !important;
            color: #ffffff !important
        }
        .dropdown-menu > li > a {
            color: #fff !important;
        }
        .dropdown-menu > li > a:hover {
            color: black !important;
        }
        .navbar-inverse .navbar-nav > li > a {
            color: #fff!important;
            margin-top: 7px;
            padding-bottom: 0px;
        }
        .body-content {
            margin-bottom: 50px;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        function dd1() {
            if ($("#dd1").hasClass("open")) {
                $(".dd1").removeClass("open");
            } else {
                $(".dd1").addClass("open");
            }
            if ($("#dd2").hasClass("open")) {
                $(".dd2").removeClass("open");
            }
        }

        function dd2() {
            if ($("#dd2").hasClass("open")) {
                $(".dd2").removeClass("open");
            } else {
                $(".dd2").addClass("open");
            }
            if ($("#dd1").hasClass("open")) {
                $(".dd1").removeClass("open");
            }
        }

        function ddremove() {
            if ($("#dd1").hasClass("open")) {
                $(".dd1").removeClass("open");
            }
            if ($("#dd2").hasClass("open")) {
                $(".dd2").removeClass("open");
            }
        }
    </script>
</head>
<body onload="navpos()" style="text-transform: capitalize; padding-top: 0px" onclick="navpos()">
<div class="navbar navbar-inverse navbar-fixed-top" style="position: sticky; top: 0px; padding: 0px !important" id="navpos" >
    <div class="navbar-header">
        <button type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@Url.Action("index", "Home")" style="margin-top: -12px; padding-right: 0px;">
            <div>
                <img src="~/img/navlogo.png" class="img-fluid" width="60px" height="60px">
            </div>
        </a>
    </div>
    <div class="navbar-collapse collapse">

        <ul class="nav navbar-nav " style="font-size: 11px;">
            @if (Request.IsAuthenticated)
            {
                <div class="dropdown dd1" id="dd1">
                    <button class="btn btn-primary dropdown-toggle" type="button" onclick='dd1()' style="background-color: #152939 !important;border-color: #152939">
                        Employee Details
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Bank Details", "Index", "bank_details")</li>
                        <li>@Html.ActionLink("Emirates ID", "Index", "emirates_id")</li>
                        <li>@Html.ActionLink("Insurance", "Index", "insurances")</li>
                        <li>@Html.ActionLink("Labor Card", "Index", "labour_card")</li>
                        <li>@Html.ActionLink("master file", "Index", "master_file")</li>
                        <li>@Html.ActionLink("Passport ", "Index", "passports")</li>
                        <li>@Html.ActionLink("Visa ", "Index", "visas")</li>
                        @if (User.IsInRole("super_admin") || User.IsInRole("admin") || User.IsInRole("payrole"))
                        {
                            <li>@Html.ActionLink("Contract", "Create", "contractlogins")</li>
                        }
                    </ul>
                </div>

                <div class="dropdown dd2" id="dd2">
                    <button class="btn btn-primary dropdown-toggle" type="button" onclick="dd2()" style="background-color: #152939 !important;border-color: #152939">
                        Financial
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        @if (User.IsInRole("super_admin") || User.IsInRole("admin") || User.IsInRole("payrole"))
                        {
                            <li>@Html.ActionLink("payroll", "Report", "Attendances")</li>
                            <li>@Html.ActionLink("end of service", "EOSB", "end_of_service")</li>
                        }
                    </ul>
                </div>
                <li>@Html.ActionLink("Leave", "Index", "Leaves")</li>
                <li>@Html.ActionLink("liquidation", "index", "liquidations")</li>
                <li>@Html.ActionLink("attendance", "Index1", "hiks")</li>
                if (User.Identity.IsAuthenticated)
                {
                    if (User.Identity.Name == "dinizsneden@gmail.com")
                    {
                        <li>@Html.ActionLink("HR forms", "HR_Forms", "HR_forms")</li>
                    }
                    if (User.IsInRole("super_admin") || User.IsInRole("admin") || User.IsInRole("payrole"))
                    {
                        <li>@Html.ActionLink("uploaddata", "Index", "uploaddata")</li>
                        <li>@Html.ActionLink("user name", "index", "usernames")</li>
                    }
                }
            }
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</div>
<div class="body-content row" style="text-transform: capitalize; margin-left: 2%; margin-right: 2%; position: relative; top: 5%" onclick="ddremove()">
    <div id="bodyloder">
        @RenderBody()
    </div>
    <hr />
    <footer id="foot" style="bottom: 0; left: 0; position: fixed; text-align: center; background-color: #152939; color: #fff; width: 100%; vertical-align: bottom">
        <p>&copy; @DateTime.Now.Year - CITISCAPE L.L.C.</p>
        @if (Request.IsAuthenticated)
        {
            <label id="lblTime" style="display: none"></label>
        }
    </footer>
    <div class="se-pre-con"></div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>