@model HRworks.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form", @onclick = "checkCheckbox()"}))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr/>
    <div class="form-group">
        @Html.LabelFor(m => m.full_name, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.full_name, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EMPNO, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EMPNO, new {@class = "form-control"})
        </div>
    </div>
    @Html.ValidationSummary("", new {@class = "text-danger"})
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
        </div>
    </div>
    if (User.IsInRole("super_admin"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.UserRole, new {@class = "col-md-2 control-label"})
            <div class="col-lg-10">
                @Html.CheckBox("admin", new { @class = "radio-inline" })@Html.Label("admin")
                @Html.CheckBox("HOD", new { @class = "radio-inline" })@Html.Label("HOD")<br />
                @Html.CheckBox("Manager", new { @class = "radio-inline" })@Html.Label("manager")<br />
                @Html.CheckBox("employee", new { @class = "radio-inline" })@Html.Label("employee")<br />
                @Html.CheckBox("liquidation", new { @class = "radio-inline" })@Html.Label("liquidation")
                @Html.CheckBox("employee_EID", new { @class = "radio-inline" })@Html.Label("employee_EID")
                @Html.CheckBox("employee_INC", new { @class = "radio-inline" })@Html.Label("employee_INC")<br />
                @Html.CheckBox("employee_PASS", new { @class = "radio-inline" })@Html.Label("employee_PASS")
                @Html.CheckBox("employee_VLC", new { @class = "radio-inline" })@Html.Label("employee_VLC")<br />
                @Html.CheckBox("payrole", new { @class = "radio-inline" })@Html.Label("payrole")<br />
                @Html.CheckBox("registration", new { @class = "radio-inline" })@Html.Label("registration")<br />
                @Html.TextBoxFor(m => m.UserRole, new { @class = "form-control", @id = "roles" })
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register"/>
        </div>
    </div>
}
<script>
    function checkCheckbox() {
        var rolestring = "";
        var ad = document.getElementById("admin");
        var ma = document.getElementById("Manager");
        var li = document.getElementById("liquidation");
        var eid = document.getElementById("employee_EID");
        var inc = document.getElementById("employee_INC");
        var pass = document.getElementById("employee_PASS");
        var vlc = document.getElementById("employee_VLC");
        var pay = document.getElementById("payrole");
        var reg = document.getElementById("registration");
        var hod = document.getElementById("HOD");
        var emp = document.getElementById("employee");
        var rol = document.getElementById("roles");
        if (ad.checked == true) {
            rolestring += ad.name + ",";
        }
        if (ma.checked == true) {
            rolestring += ma.name + ",";
        }
        if (li.checked == true) {
            rolestring += li.name + ",";
        }
        if (eid.checked == true) {
            rolestring += eid.name + ",";
        }
        if (inc.checked == true) {
            rolestring += inc.name + ",";
        }
        if (pass.checked == true) {
            rolestring += pass.name + ",";
        }
        if (vlc.checked == true) {
            rolestring += vlc.name + ",";
        }
        if (pay.checked == true) {
            rolestring += pay.name + ",";
        }
        if (reg.checked == true) {
            rolestring += reg.name + ",";
        }
        if (hod.checked == true) {
            rolestring += hod.name + ",";
        }
        if (emp.checked == true) {
            rolestring += emp.name + ",";
        }
        var ind = rolestring.lastIndexOf(",");
        rolestring = rolestring.slice(0, ind);
        rol.value = rolestring;
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}