@using Microsoft.Ajax.Utilities
@model IEnumerable<HRworks.Models.employeeleavesubmition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h3><b>employee name:- @ViewBag.name <br /> employee no:- @ViewBag.no</b></h3>
<br />
<br />
<table class="table" style="width: 25%;">
    <tr>
        <th>description</th>
        <th></th>
    </tr>
    <tr>
        <td style="width: 50%;">period</td>
        <td>@ViewBag.per</td>
    </tr>
    <tr>
        <td>unpaid</td>
        <td>@ViewBag.ump</td>
    </tr>
    <tr>
        <td>net period</td>
        <td>@ViewBag.netp</td>
    </tr>
    <tr>
        <td>accrued</td>
        <td>@ViewBag.accr</td>
    </tr>
    <tr>
        <td>annual leave taken</td>
        <td>@ViewBag.aval</td>
    </tr>
    <tr>
        <td> Annual Leave Applied</td>
        <td>@ViewBag.faval</td>
    </tr>
    <tr>
        <td>Annual Leave total</td>
        <td>@ViewBag.taval</td>
    </tr>
    <tr>
        <td>leave balance</td>
        <td>@ViewBag.lbal</td>
    </tr>
    <tr>
        <td>forfited balance</td>
        <td>@ViewBag.forfited</td>
    </tr>
    <tr style="background-color: #152939;color: white">
        <td colspan="2">total miscellaneous leave taken</td>
    </tr>
    <tr>
        <td>sick </td>
        <td>@ViewBag.sick</td>
    </tr>
    <tr>
        <td>compassionate </td>
        <td> @ViewBag.comp</td>
    </tr>
    <tr>
        <td>maternity</td>
        <td>@ViewBag.mate</td>
    </tr>
    <tr>
        <td>hajj</td>
        <td>@ViewBag.haj</td>
    </tr>
    <tr>
        <td>AL-UDDAH</td>
        <td>@ViewBag.udd</td>
    </tr>
    <tr>
        <td>escort</td>
        <td>@ViewBag.esco</td>
    </tr>
    <tr>
        <td>paternity</td>
        <td>@ViewBag.pater</td>
    </tr>
    <tr>
        <td>sabbatical</td>
        <td>@ViewBag.sab</td>
    </tr>
    <tr>
        <td>study</td>
        <td>@ViewBag.pater</td>
    </tr>
</table>
<br />
<hr />
<table class="table">

    <tr>
        <th>
            SN#
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_leave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_leave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leave_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toltal_requested_days)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.half)
        </th>
        <th>
            @Html.DisplayName("actual return date")
        </th>
        <th>Status</th>
    </tr>
    @{
        int i = 0;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    i++;
                }
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start_leave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_leave)
            </td>
            <td>
                @if (item.leave_type == "1")
                {
                    <i>Annual</i>
                }
                @if (item.leave_type == "2")
                {
                    <i>Sick(non industrial)</i>
                }
                @if (item.leave_type == "3")
                {
                    <i>Compassionate</i>
                }
                @if (item.leave_type == "4")
                {
                    <i>Maternity </i>
                }
                @if (item.leave_type == "5")
                {
                    <i>Haj</i>
                }
                @if (item.leave_type == "6")
                {
                    <i>Unpaid </i>
                }
                @if (item.leave_type == "7")
                {
                    <i> Sick(industrial)</i>
                }
                @if (item.leave_type == "8")
                {
                    <i>UDDAH</i>
                }
                @if (item.leave_type == "9")
                {
                    <i>ESCORT</i>
                }
                @if (item.leave_type == "10")
                {
                    <i>PATERNITY</i>
                }
                @if (item.leave_type == "11")
                {
                    <i>SABBATICAL</i>
                }
                @if (item.leave_type == "12")
                {
                    <i>STUDY</i>
                }
            </td>
            <td>
                @*
                    helped by ahemed yousaf
                *@
                @if (item.half == true)
                {
                    var a = item.Start_leave;
                    var b = item.End_leave;
                    double days = 0;
                    if (a == b)
                    {
                        days = 1;
                    }
                    else
                    {
                        var ab = b - a;
                        if (ab.HasValue)
                        {
                            days = ab.Value.TotalDays;
                            days = System.Math.Abs(days);
                            days += 1;
                        }
                    }
                    days -= 0.5;
                    @days.ToString()
                }
                else
                {
                    {
                        var a = item.Start_leave;
                        var b = item.End_leave;
                        double days = 0;
                        if (a == b)
                        {
                            days = 1;
                        }
                        else
                        {
                            var ab = b - a;
                            if (ab.HasValue)
                            {
                                days = ab.Value.TotalDays;
                                days = System.Math.Abs(days);
                                days += 1;
                            }
                        }
                        @days.ToString()
                    }
                }

            </td>

            <td>
                @{

                    if (item.half)
                    {
                        <p>YES</p>
                    }
                    else
                    {
                        <p>no</p>
                    }

                }
            </td>
            <td>
                @{
                    if (item.empreturnfromleavesubs != null)
                    {

                        var erls = item.empreturnfromleavesubs.ToList();
                        if (erls.Count != 0)
                        {
                            var subcheck = "";
                            foreach (var empreturnfromleavesub in erls)
                            {
                                if (empreturnfromleavesub.actualreturnleave.HasValue && empreturnfromleavesub.apstatus == "approved")
                                {
                                    @empreturnfromleavesub.actualreturnleave.Value.ToString("dd MMM yyyy")
                                }
                                else if (empreturnfromleavesub.actualreturnleave.HasValue && empreturnfromleavesub.apstatus.Contains("submitted"))
                                {
                                    @empreturnfromleavesub.actualreturnleave.Value.ToString("dd MMM yyyy")
                                    <br/>@empreturnfromleavesub.apstatus
                                }
                                else if (empreturnfromleavesub.apstatus == null)
                                {
                                    if (item.Return_leave <= DateTime.Today)
                                    {
                                        @Html.ActionLink("add return", "Create", "empreturnfromleavesubs", new { id = item.Id }, new { })
                                    }
                                }
                                else if (empreturnfromleavesub.apstatus.Contains("rejected"))
                                {
                                    @Html.ActionLink("try again", "Create", "empreturnfromleavesubs", new { id = item.Id }, new { })
                                    <p style="color: red">@empreturnfromleavesub.apstatus</p>
                                }
                                //else if (empreturnfromleavesub.apstatus.Contains("submitted") || empreturnfromleavesub.apstatus.Contains("approved"))
                                if (empreturnfromleavesub != null)
                                {
                                    <br />
                                    var temp1 = "";
                                    if (ViewBag.rel == "line_man")
                                    {
                                        if (empreturnfromleavesub.apstatus == "submitted")
                                        {
                                            temp1 = "pending line manager approval";
                                        }
                                        if (empreturnfromleavesub.apstatus == "approved")
                                        {
                                            temp1 = "";
                                        }
                                        if (empreturnfromleavesub.apstatus == "approved by line manager")
                                        {
                                            temp1 = "pending HOD approval";
                                        }

                                    }
                                    else
                                    {

                                        if (empreturnfromleavesub.apstatus == "submitted")
                                        {
                                            temp1 = "pending HOD approval";
                                        }
                                        if (empreturnfromleavesub.apstatus == "approved")
                                        {
                                            temp1 = "";
                                        }
                                        if (empreturnfromleavesub.apstatus == "submitted for HR")
                                        {
                                            temp1 = "pending HR approval";

                                        }
                                    }
                                    @temp1
                                }
                            }
                        }
                    }
                }
            </td>
            <td>
                @*Html.DisplayFor(modelItem => item.apstatus)*@
                @{
                    var temp = "";
                    if (ViewBag.rel == "line_man")
                    {
                        if (item.apstatus == "submitted")
                        {
                            temp = "pending line manager approval";
                            @temp
                        }
                        if (item.apstatus == "approved")
                        {
                            temp = "approved";
                            @temp
                        }
                        if (item.apstatus == "approved by line manager")
                        {
                            temp = "pending HOD approval";
                            @temp
                        }
                        if (item.apstatus.Contains("rejected"))
                        {
                            temp = item.apstatus;
                            <p style="color: red">@temp</p>

                        }

                    }
                    else
                    {

                        if (item.apstatus == "submitted")
                        {
                            temp = "pending HOD approval";
                            @temp
                        }
                        if (item.apstatus == "approved")
                        {
                            temp = "approved";
                            @temp
                        }
                        if (item.apstatus == "submitted for HR")
                        {
                            temp = "pending HR approval";
                            @temp

                        }
                        if (item.apstatus.Contains("rejected"))
                        {
                            temp = item.apstatus;
                            <p style="color: red">@temp</p>

                        }
                    }
                }

            </td>
        </tr>
    }

</table>
