@model IEnumerable<HRworks.Models.HRA_requset>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amonths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OTdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.house_RA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HRA_advance_com)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amonths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OTdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.house_RA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HRA_advance_com)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
