@model HRworks.Models.certificatesavingtest_

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>certificatesavingtest_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.certificate_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.certificate_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submition_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submition_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.master_file.employee_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.master_file.employee_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
