@model IEnumerable<HRworks.Models.ICertificate>

@{
    ViewBag.Title = "Index";
}

<h2>requested certificate </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("refrence no")
        </th>
        <th>
            @Html.DisplayName("name")
        </th>
        <th>
            @Html.DisplayName("certificate for")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destination)/reason
        </th>
        <th>
            @Html.DisplayNameFor(model => model.submition_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.master_file.employee_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.master_file.employee_no)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.certificatetype.certificate_name_)
            </td>
            <td>
                @{
                    var cs_gr = "citiscape";
                    if (item.cs_gr == "GR_certificates")
                    {
                        cs_gr = "grove";
                    }
                    @cs_gr
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.submition_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.master_file.employee_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.master_file.employee_no)
            </td>
            @{ 
                bool cs_grcrt = true;
                if (cs_gr == "grove")
                {
                    cs_grcrt = false;
                }
            }
            <td>
                <div class="row">
                    <div class="col-md-2" style="display: block;">
                        <input type="submit" value="Approve" class="btn btn-default" style="color: green;" onclick="window.location.href = '@Url.Action("approve", "certificatesavingtest_", new {id = item.Id, CS =cs_grcrt})'" />
                    </div>
                    <div class="col-md-8" style="display: block;">
                        @using (Html.BeginForm("reject", "certificatesavingtest_", new { id = item.Id, CS = cs_grcrt }))
                        {
                            <div class="col-md-3" style="display: block;">
                                <input type="submit" class="btn btn-default" value="Reject" style="color: red;" />
                            </div>
                            <div class="col-md-7" style="display: block;">
                                <p>
                                    <input type="text" name="message" required class="form-control" placeholder="comment" />
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </td>
        </tr>
}

</table>

