@model IEnumerable<HRworks.Models.ICertificate>

@{
    ViewBag.Title = "Index";
}

<h2>certificate requests</h2>

<input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("hrcertificatesubmmit")'" value="create new" />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("refrence no")
        </th>
        <th>
            @Html.DisplayName("name")
        </th>
        <th>
            @Html.DisplayName("certificate for")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destination)/reason
        </th>
        <th>
            @Html.DisplayNameFor(model => model.submition_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.master_file.employee_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.master_file.employee_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.certificatetype.certificate_name_)
            </td>
            <td>
                @{
                    var cs_gr = "citiscape";
                    if (item.cs_gr == "GR_certificates")
                    {
                        cs_gr = "grove";
                    }
                    bool cs_grcrt = true;
                    if (cs_gr == "grove")
                    {
                        cs_grcrt = false;
                    }
                    @cs_gr
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.submition_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.master_file.employee_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.master_file.employee_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @{
                if (item.status.Contains("approved"))
                {
                    @Html.ActionLink("download", "Details", new { id = item.Id,CS = cs_grcrt })
                }
            }
        </td>
    </tr>
}

</table>
