@using PagedList.Mvc
@model IEnumerable<HRworks.Models.insurance>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated)
{
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <script type="text/javascript">
        var tableToExcel = (function () {
            var uri = 'data:application/vnd.ms-excel;base64,',
                template =
                    '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>',
                base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) },
                format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
            return function (table, name) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                window.location.href = uri + base64(format(template, ctx))
            }
        })();
        function norc(parameters) {
            var x = document.getElementById("pageSize").value;
            alert("no of records changed to " + x);

            var y = document.getElementById("form1");
            y.submit();
        }
    </script>

    using (Html.BeginForm("Index", "passports", FormMethod.Get, new { id = "form1" }))
    {
        <div>
            @*Page Size:@Html.DropDownList("pageSize", null, new { @id = "pageSize"/*, @onchange = "norc()"*/ })
            *@
            page size:-<input type="text" name="pagesize" id="pagesize" />
            search:-
            @Html.TextBox("search")
            <input type="submit"
                   name="submit"
                   value="Search/change records" ondblclick="norc()" />

        </div>
        <div>
            @Html.PagedListPager((PagedList.IPagedList)Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, pagesize = ViewBag.pagesize }))
        </div>
        <div>
            <a href="@Url.Action("DownloadExcel","insurances",new{search=ViewBag.search})">Download Excel</a>
        </div>
    }
    <table class="table"
           id="insurance">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employee_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.master_file.employee_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.master_file.employee_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.card_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.master_file.dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.master_file.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dependency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marital_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.master_file.nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.annual_primium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deletion_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invoice_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.credit_amt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imgpath)
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("admin"))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.date_changed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.changed_by)
                    </th>
                }
            }

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.employee_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.master_file.employee_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.master_file.employee_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.card_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.master_file.dob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.master_file.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dependency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marital_status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.master_file.nationality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.annual_primium)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deletion_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.invoice_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.credit_amt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imgpath)
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("admin"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.changed_by)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date_changed)
                        </td>
                    }
                }
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.employee_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.employee_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.employee_id })
                </td>
            </tr>
        }

    </table>
}