@using PagedList.Mvc
@model IEnumerable<HRworks.Models.master_file>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated)
{
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <script
        type="text/javascript">
        var tableToExcel = (function() {
            var uri = 'data:application/vnd.ms-excel;base64,',
                template =
                    '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>',
                base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) },
                format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
            return function(table, name) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                window.location.href = uri + base64(format(template, ctx))
            }
        })()
        function norc(parameters) {
            var x = document.getElementById("pageSize").value;
            alert("no of records changed to "+x);
        
            var y = document.getElementById("form1");
            y.submit();
    </script>
    using (Html.BeginForm("Index", "master_file", FormMethod.Get, new { id = "form1" }))
    {
        <div>
            @*Page Size:@Html.DropDownList("pageSize", null, new { @id = "pageSize"/*, @onchange = "norc()"*/ })
    *@
            page size:-<input type="text" name="pagesize" id="pagesize" />
            search:- 
            @Html.TextBox("search")
            <input type="submit"
                   name="submit"
                   value="Search/change records" ondblclick="norc()" />

        </div> }
    <div>  
        <a href="@Url.Action("DownloadExcel","master_file",new{search=ViewBag.search})">Download Excel</a>  
    </div> 
    <table
        class="table"
        id="master_file">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employee_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_joined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last_working_day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.account_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bank_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.img)
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("admin"))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.changed_by)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.date_changed)
                    </th>
                }
            }
                
                </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employee_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_joined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_working_day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IBAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.account_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bank_name)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.img)"
                 alt="@Html.DisplayFor(modelItem => item.employee_name)"
                 width=100
                 height=100 />
        </td>
        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.changed_by)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_changed)
                </td>
            }
        }
            <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.employee_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.employee_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.employee_id })
        </td>
    </tr>
        }

    </table>
}