@model HRworks.Models.visa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>visa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.uid_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uid_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.file_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.place_of_issue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place_of_issue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accompanied_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accompanied_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rv_expiry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rv_expiry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rv_issue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rv_issue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proff_as_per_visa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proff_as_per_visa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imgpath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imgpath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sponsor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sponsor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.changed_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.changed_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_changed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_changed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.master_file.employee_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.master_file.employee_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.employee_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
