@model HRworks.Models.detailsinarabic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>detailsinarabic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ARname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARposition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARposition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARnationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARnationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.master_file.employee_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.master_file.employee_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
