@model IEnumerable<HRworks.Models.liquidation>

@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>index</h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/EOSB.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function () {
        $("#empno").chosen({ no_results_text: "Oops, nothing found!" });
    });
</script>
<div>

    <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("print")'" value="print" />
    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("Manager"))
        {
            <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("liquiapprove")'" value="approval" />
        }
        else
        {
            <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Create", "liquidation_ref")'" value="Create New" />
        }
        if (User.IsInRole("super_admin,admin"))
        {
            <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("subindex", "liquidations")'" value="report" />
        }
        using (Html.BeginForm("index", "liquidations"))
        {
            @Html.DropDownList("empno", new List<SelectListItem>(ViewBag.empno), new { @class = "form-control chosen-select", @id = "empno" })
            <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("index")'" value="clear search" />
            <input type="submit" value="search" class="btn btn-default" id="save" />
        }
    }

</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.liquidation_ref.date)
            </th>
            <th>@Html.DisplayNameFor(model => model.liquidation_ref.refr)</th>
            <th>
                @Html.DisplayNameFor(model => model.bill_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.expenses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invoice_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MBNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invoice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invoice_amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.master_file.employee_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.master_file.employee_no)
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.liquidation_ref.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.liquidation_ref.refr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bill_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expenses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoice_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MBNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoice_amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.master_file.employee_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.master_file.employee_no)
            </td>
        </tr>
    }

</table>
