@model IEnumerable<HRworks.Models.liquidation>

@{
    ViewBag.Title = "print";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    document.onkeydown = function(e) {
        if (event.keyCode === 123) {
            return false;
        }
        if (e.ctrlKey && e.keyCode === 'P'.charCodeAt(0)) {
            $('#foot').hide();
            $('#pdate').hide();
            $('#prefr').hide();
            $('#foot').hide();
            $('#search').hide();
            return true;
        } else {
            $('#foot').show();
            $('#pdate').show();
            $('#prefr').show();
            $('#search').show();
        }
    }
</script>
<style>
    table { text-align: center; }

    th, td { text-align: center; }

    .row {
        -ms-flex-wrap: wrap;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
</style>
<div class="form-horizontal" onclick="total()">
    @using (Html.BeginForm("print", "liquidations", FormMethod.Get, new { id = "form1" }))
    {
        <div>
            <input type="date" name="pdate" id="pdate" />
            <input type="number" name="prefr" id="prefr" />
            <input type="submit" value="search" class="btn btn-default" id="search" />
        </div>
    }
    <hr />

    <div class="row" style="left: 45%; position: relative; top: 0%">
        <img src="~/img/logo.png" height="50" width="100" />
        <br />
    </div>
    <br />
    <div class="row" style="background-color: black !important; color: white; text-align: center;">
        <h2 style="-webkit-print-color-adjust: exact; margin-left: 25%; text-align: center; text-transform: uppercase;">petty cash imprest sheet </h2>
    </div>
    <div class="row">
        <div style="left: 5%; position: relative;">
            @*@Html.DisplayFor(model => model[0].refr, "ref :", new { @class = "control-label " })
                @ViewBag.refr*@
        </div>
        <div style="left: 75%; position: relative;">
            @*@Html.DisplayFor(model => model.liquidation_ref.date, "date:", new { @class = "control-label " })
                @ViewBag.date*@
        </div>
        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
    </div>
    <br />
    <div class="row">
        <table class="table" style="background-color: white" >
            <col>
            <thead onclick="check()">
                <tr>
                    <th rowspan="2" scope="rowgroup"> @Html.DisplayNameFor(model => model.bill_no)</th>
                    <th rowspan="2" scope="rowgroup"> @Html.DisplayNameFor(model => model.expenses)</th>
                    <th rowspan="2" scope="rowgroup"> @Html.DisplayNameFor(model => model.invoice_date)</th>
                    <th rowspan="2" scope="rowgroup"> @Html.DisplayNameFor(model => model.discription)</th>
                    <th colspan="3">debit amount</th>
                </tr>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.invoice)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.VAT)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.invoice_amount)</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Label("as per attached")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.expenses)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.invoice_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.discription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.invoice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VAT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.invoice_amount)
                    </td>
                </tr>
            }
            <tr>
                <td colspan="6" style="text-align: right" >total</td>
                <td colspan="3" style="text-align: left" id="totalq">@ViewBag.ttinsum</td>
            </tr>

        </table>
    </div>
    <br />
    <br />
    <div class="row" style="border: 1px solid black; text-align: left;">
        <br />
        <div class="col-sm-7" style="border: 1px solid black;">
            <div class="row">
                <p>we certify that above mantioned material consumed and / or expenditures incurred for<br /><input type="text" style="border: none; font-weight: bold; height: 25px; width: 100%;" placeholder="purpose" /></p>
            </div>
            <br />
            <div class="row" style="text-transform: capitalize">
                <div class="col-md-3" style="text-align: center">
                    <hr style="/* old IE */background-color: #333; /* Modern Browsers */border: none; /* Set the hr color */color: #333; height: 3px;" />
                    <b>imperst holder</b>
                </div>
                <div class="col-md-3" style="text-align: center">
                    <hr style="/* old IE */background-color: #333; /* Modern Browsers */border: none; /* Set the hr color */color: #333; height: 3px;" />
                    <b style="text-transform: uppercase">pm/hod</b>
                </div>
                <div class="col-md-3" style="text-align: center">
                    <hr style="/* old IE */background-color: #333; /* Modern Browsers */border: none; /* Set the hr color */color: #333; height: 3px;" />
                    <b>OD/Head of projects</b>
                </div>
            </div>
        </div>
        <div class="col-sm-2" style="border: 1px solid black;">
            <b>
                <br />
                float amount:
            </b>
            <br />
            <b>
                <br />
                expenses:
            </b>
            <br />
            <b>
                <br />
                remaining balance:
            </b>
        </div>
        <div class="col-sm-1" style="text-align: center;">
            <br />
            <br />
            <br />
            <br />
            <b id="tt" style="text-align: center;">
                @ViewBag.ttinsum
            </b>
        </div>
    </div>
    <div class="row" style="border: 1px solid black;">
        <b>
            <b>
                for the use of accounts department only
            </b>
        </b>
    </div>
    <div class="row" style="border: 1px solid black; text-align: center">
        <div class="col-lg-4" style="border: 1px solid black; width: 33.33%">
            <br />
            <br />
            <b>
                <hr style="/* old IE */background-color: #333; /* Modern Browsers */border: none; /* Set the hr color */color: #333; height: 3px;" />
                checked by
            </b>

        </div>
        <div class="col-lg-4" style="border: 1px solid black; width: 33.33%">
            <br />
            <br />
            <hr style="/* old IE */background-color: #333; /* Modern Browsers */border: none; /* Set the hr color */color: #333; height: 3px;" />
            reviewed by
        </div>
        <div class="col-lg-4" style="border: 1px solid black; width: 33.33%">
            <br />
            <br />
            <hr style="/* old IE */background-color: #333; /* Modern Browsers */border: none; /* Set the hr color */color: #333; height: 3px;" />
            approved by
        </div>
    </div>
    <div class="row" style="border: 1px solid black;">
        .<br />
        <br />
        encoded in the system by:_____________________
        <br />.
    </div>
    <div class="row" style="margin-left: 20%">

        <div class="col-sm-4" style="left: 0%; position: relative;">
            <b></b>
        </div>
        <div class="col-sm-5" style="left: 0%; position: relative;">
            <b> CSFIN04 </b>
        </div>
        <div class="col-sm-3" style="left: 10%; position: relative;">
            <b> Version R4</b>
        </div>
    </div>
</div>
<br/>
<br/>