@model IEnumerable<HRworks.Models.liquisum>

@{
    ViewBag.Title = "subindex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function () {
        $("#from").datepicker({
            altField: "#alternate",
            altFormat: "MM,yy",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            dateFormat: "dd M yy"
        });
        $("#to").datepicker({
            altField: "#alternate",
            altFormat: "MM,yy",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            dateFormat: "dd M yy"
        });
    });

    
</script>
@using (Html.BeginForm())
{
    <div>
        from: <input type="text" name="from" id="from" class="form-control"/>
        to : <input type="text" name="to" id="to" class="form-control"/>
        <input type="submit" value="search" class="btn btn-default"/>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ldate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
    </tr>
    @{
        var total = 0f;
        var Qtotal = 0;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ldate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            @{
                total += item.amount;
                Qtotal += item.quantity;
            }
        </tr>
    }
    <tr>
        <td colspan="2">total:</td>
        <td>@Qtotal</td>
        <td>@total</td>
    </tr>
</table>
