@model HRworks.Models.Att_adj

@{
    ViewBag.Title = "Attendance Adjustment Create";

    bool lockFields =
        ViewBag.which_date != null ||
        ViewBag.late_in != null ||
        ViewBag.early_out != null;

    bool enablePickers = !lockFields;

    string whichDateVal = (ViewBag.which_date ?? "").ToString();
    string lateInVal = (ViewBag.late_in ?? "").ToString();
    string earlyOutVal = (ViewBag.early_out ?? "").ToString();
}

<h2>Create</h2>

<!-- CSS (theme + timepicker addon) -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css" />

<!--
    If your _Layout already loads jQuery/jQuery UI,
    remove these to avoid duplicates.
-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>

<style>
    .ui-datepicker,
    .ui-timepicker-div {
        z-index: 999999 !important;
    }
</style>

<script>
    function ensureTimepickerLoaded(cb) {
        if ($.fn.timepicker) { cb(); return; }
        var s = document.createElement("script");
        s.src = "https://cdn.jsdelivr.net/npm/jquery-ui-timepicker-addon@1.6.3/dist/jquery-ui-timepicker-addon.min.js";
        s.onload = cb;
        document.head.appendChild(s);
    }

    function initPickers() {
        $(".js-ui-date").datepicker({
            dateFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            currentText: "Today",
            closeText: "Done",
            showAnim: "fadeIn"
        });

        $(".js-ui-time").timepicker({
            timeFormat: "HH:mm",
            controlType: "select",
            oneLine: true,
            showButtonPanel: true,
            closeText: "Done",
            stepMinute: 1
        });
    }

    $(function () {
        var enablePickers = @((enablePickers) ? "true" : "false");

        if (enablePickers) {
            ensureTimepickerLoaded(initPickers);
        }
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>attendance adjustment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- which_date -->
        <div class="form-group">
            @Html.LabelFor(m => m.which_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @if (lockFields)
                {
                    <input type="text"
                           name="which_date_display"
                           class="form-control"
                           value="@whichDateVal"
                           disabled="disabled" />

                    @* Hidden field to actually submit *@
                    @Html.Hidden("which_date", whichDateVal)
                }
                else
                {
                    @Html.TextBoxFor(
                             m => m.which_date,
                             "{0:yyyy-MM-dd}",
                             new { @class = "form-control js-ui-date", autocomplete = "off" }
                         )
                }

                @Html.ValidationMessageFor(m => m.which_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- late_in -->
        <div class="form-group">
            @Html.LabelFor(m => m.late_in, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @if (lockFields)
                {
                    <input type="text"
                           name="late_in_display"
                           class="form-control"
                           value="@lateInVal"
                           disabled="disabled" />

                    @Html.Hidden("late_in", lateInVal)
                }
                else
                {
                    @Html.TextBoxFor(
                             m => m.late_in,
                             "{0:hh\\:mm}",
                             new { @class = "form-control js-ui-time", type = "text", autocomplete = "off" }
                         )
                }

                @Html.ValidationMessageFor(m => m.late_in, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- early_out -->
        <div class="form-group">
            @Html.LabelFor(m => m.early_out, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @if (lockFields)
                {
                    <input type="text"
                           name="early_out_display"
                           class="form-control"
                           value="@earlyOutVal"
                           disabled="disabled" />

                    @Html.Hidden("early_out", earlyOutVal)
                }
                else
                {
                    @Html.TextBoxFor(
                             m => m.early_out,
                             "{0:hh\\:mm}",
                             new { @class = "form-control js-ui-time", type = "text", autocomplete = "off" }
                         )
                }

                @Html.ValidationMessageFor(m => m.early_out, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- reason -->
        <div class="form-group">
            @Html.LabelFor(m => m.reason, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.reason, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.reason, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- submit -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
