@model IEnumerable<HRworks.Models.hik>

@{
    ViewBag.Title = "Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var previn = new DateTime();
}

<h2>attendance</h2>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function() {
        var dateFormat = "mm/dd/yy",
            from = $("#empatdatefrom")
                .datepicker({
                    changeMonth: true
                })
                .on("change",
                    function() {
                        to.datepicker("option", "minDate", getDate(this));
                    }),
            to = $("#empatdateto").datepicker({
                    changeMonth: true
                })
                .on("change",
                    function() {
                        from.datepicker("option", "maxDate", getDate(this));
                    });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }
    });
</script>
@using (Html.BeginForm("empattindex", "Att_adj"))
{
    <div class="row">
        <div class=" col-md-2">
            <input type="text" name="empatdatefrom" id="empatdatefrom" class="form-control" placeholder=" From" />
        </div>
        <div class=" col-md-2">
            <input type="text" name="empatdateto" id="empatdateto" class="form-control" placeholder="To" />
        </div>
        <div class=" col-md-6">
            <input type="submit" value="search" class="btn btn-default" />
            <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("empattindex", "Att_adj", new { empatdatefrom = DateTime.Today,empatdateto = DateTime.Now })'" value="today" />
            <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index", "Att_adj")'" value="attendance adjustment" />
        </div>
    </div>
    <br />
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("employee no")
        </th>
        <th>
            @Html.DisplayName("Employee name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
        </tr>
    }

</table>
