@model IEnumerable<HRworks.Models.BUSINESS_TRIP_REPORT_>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type_of_trip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IO_specify)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departure_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Return_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRIP_OBJECTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Objectives)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.master_file.employee_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type_of_trip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IO_specify)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departure_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Return_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRIP_OBJECTIVE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Objectives)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.master_file.employee_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
