@model IEnumerable<HRworks.Models.hik>

@{
    ViewBag.Title = "absence report";
}


<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function () {
        var dateFormat = "dd/mm/yy",
            from = $("#dayfromvar")
                .datepicker({
                    changeMonth: true
                })
                .on("change",
                    function () {
                        to.datepicker("option", "minDate", getDate(this));
                    }),
            to = $("#daytovar").datepicker({
                changeMonth: true
            })
                .on("change",
                    function () {
                        from.datepicker("option", "maxDate", getDate(this));
                    });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }
    });
</script>
<h2>absence report</h2>

@using (Html.BeginForm("absreport", "Attendances"))
{

    <div class="row">
        <div class=" col-md-2">
            <input type="text" name="empno" class="form-control" placeholder="Employee No" />
        </div>
        <div class=" col-md-2">
            <input type="text" id="dayfromvar" name="dayfromvar" class="form-control" placeholder=" From" />
        </div>
        <div class=" col-md-2">
            <input type="text" id="daytovar" name="daytovar" class="form-control" placeholder="To" />
        </div>
        <div class=" col-md-6">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
    <br />
    <br />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Employee NO")
        </th>
        <th>
            @Html.DisplayName("Employee name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
        </tr>
    }

</table>
