@model IEnumerable<HRworks.Models.Attendance>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.variable == null)
{
    <h2> null report</h2>
}

@if (ViewBag.variable == "S")
{
    <h2> sick report</h2>
}

@if (ViewBag.variable == "V")
{
    <h2> Vacation report</h2>
}

@if (ViewBag.variable == "T")
{
    <h2> transfer report</h2>
}

@if (ViewBag.variable == "A")
{
    <h2> absence report</h2>
}

@{
    var ae = 0;
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
        onlo();
    });

</script>
@using (Html.BeginForm("Index", "Attendances", FormMethod.Get, new { id = "form1" }))
{
    <div>
        month:-
        <input type="text" name="month" id="datepicker" value="@if (ViewBag.month != null)
                                                               {
                                                                   @ViewBag.month.ToString("d")
                                                               }" class="form-control" />
        <input type="text" name="variable" value="@ViewBag.variable" style="display: none" />
        <input type="submit"
               name="submit"
               value="Get records" ondblclick="norc()" class="btn btn-default" />
        <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Report")'" value="back to main" />
        <br />
        <br />
    </div>
}
<table class="table" onclick="onlo()">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LabourMaster.EMPNO)
        </th>
        <th> name</th>
        <th>
            @Html.DisplayNameFor(model => model.MainTimeSheet.ProjectList.PROJECT_NAME)
        </th>
        <th id="d1">
            @Html.DisplayNameFor(model => model.C1)
        </th>
        <th id="d2">
            @Html.DisplayNameFor(model => model.C2)
        </th>
        <th id="d3">
            @Html.DisplayNameFor(model => model.C3)
        </th>
        <th id="d4">
            @Html.DisplayNameFor(model => model.C4)
        </th>
        <th id="d5">
            @Html.DisplayNameFor(model => model.C5)
        </th>
        <th id="d6">
            @Html.DisplayNameFor(model => model.C6)
        </th>
        <th id="d7">
            @Html.DisplayNameFor(model => model.C7)
        </th>
        <th id="d8">
            @Html.DisplayNameFor(model => model.C8)
        </th>
        <th id="d9">
            @Html.DisplayNameFor(model => model.C9)
        </th>
        <th id="d10">
            @Html.DisplayNameFor(model => model.C10)
        </th>
        <th id="d11">
            @Html.DisplayNameFor(model => model.C11)
        </th>
        <th id="d12">
            @Html.DisplayNameFor(model => model.C12)
        </th>
        <th id="d13">
            @Html.DisplayNameFor(model => model.C13)
        </th>
        <th id="d14">
            @Html.DisplayNameFor(model => model.C14)
        </th>
        <th id="d15">
            @Html.DisplayNameFor(model => model.C15)
        </th>
        <th id="d16">
            @Html.DisplayNameFor(model => model.C16)
        </th>
        <th id="d17">
            @Html.DisplayNameFor(model => model.C17)
        </th>
        <th id="d18">
            @Html.DisplayNameFor(model => model.C18)
        </th>
        <th id="d19">
            @Html.DisplayNameFor(model => model.C19)
        </th>
        <th id="d20">
            @Html.DisplayNameFor(model => model.C20)
        </th>
        <th id="d21">
            @Html.DisplayNameFor(model => model.C21)
        </th>
        <th id="22">
            @Html.DisplayNameFor(model => model.C22)
        </th>
        <th id="d23">
            @Html.DisplayNameFor(model => model.C23)
        </th>
        <th id="d24">
            @Html.DisplayNameFor(model => model.C24)
        </th>
        <th id="d25">
            @Html.DisplayNameFor(model => model.C25)
        </th>
        <th id="d26">
            @Html.DisplayNameFor(model => model.C26)
        </th>
        <th id="d27">
            @Html.DisplayNameFor(model => model.C27)
        </th>
        <th id="d28">
            @Html.DisplayNameFor(model => model.C28)
        </th>
        <th id="ex1_2">
            @Html.DisplayNameFor(model => model.C29)
        </th>
        <th id="ex2_2">
            @Html.DisplayNameFor(model => model.C30)
        </th>
        <th id="ex3_3">
            @Html.DisplayNameFor(model => model.C31)
        </th>
        <th>

            @if (ViewBag.variable == null)
            {
                @Html.DisplayNameFor(model => model.Totalnull)
            }

            @if (ViewBag.variable == "S")
            {
                @Html.DisplayNameFor(model => model.TotalSickLeave)
            }

            @if (ViewBag.variable == "V")
            {
                @Html.DisplayNameFor(model => model.TotalVL)
            }

            @if (ViewBag.variable == "T")
            {
                @Html.DisplayNameFor(model => model.TotalTransefer)
            }

            @if (ViewBag.variable == "A")
            {
                @Html.DisplayNameFor(model => model.TotalAbsent)
            }

        </th>
        @if (ViewBag.variable == "A")
        {
            <th>
            </th>
        }
    </tr>
    @foreach (var item in Model)
    {
        ae++;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LabourMaster.EMPNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabourMaster.Person_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainTimeSheet.ProjectList.PROJECT_NAME)
            </td>
            <td id="d1_1_@ae">
                @Html.DisplayFor(modelItem => item.C1)
            </td>
            <td id="d2_1_@ae">
                @Html.DisplayFor(modelItem => item.C2)
            </td>
            <td id="d3_1_@ae">
                @Html.DisplayFor(modelItem => item.C3)
            </td>
            <td id="d4_1_@ae">
                @Html.DisplayFor(modelItem => item.C4)
            </td>
            <td id="d5_1_@ae">
                @Html.DisplayFor(modelItem => item.C5)
            </td>
            <td id="d6_1_@ae">
                @Html.DisplayFor(modelItem => item.C6)
            </td>
            <td id="d7_1_@ae">
                @Html.DisplayFor(modelItem => item.C7)
            </td>
            <td id="d8_1_@ae">
                @Html.DisplayFor(modelItem => item.C8)
            </td>
            <td id="d9_1_@ae">
                @Html.DisplayFor(modelItem => item.C9)
            </td>
            <td id="d10_1_@ae">
                @Html.DisplayFor(modelItem => item.C10)
            </td>
            <td id="d11_1_@ae">
                @Html.DisplayFor(modelItem => item.C11)
            </td>
            <td id="d12_1_@ae">
                @Html.DisplayFor(modelItem => item.C12)
            </td>
            <td id="d13_1_@ae">
                @Html.DisplayFor(modelItem => item.C13)
            </td>
            <td id="d14_1_@ae">
                @Html.DisplayFor(modelItem => item.C14)
            </td>
            <td id="d15_1_@ae">
                @Html.DisplayFor(modelItem => item.C15)
            </td>
            <td id="d16_1_@ae">
                @Html.DisplayFor(modelItem => item.C16)
            </td>
            <td id="d17_1_@ae">
                @Html.DisplayFor(modelItem => item.C17)
            </td>
            <td id="d18_1_@ae">
                @Html.DisplayFor(modelItem => item.C18)
            </td>
            <td id="d19_1_@ae">
                @Html.DisplayFor(modelItem => item.C19)
            </td>
            <td id="d20_1_@ae">
                @Html.DisplayFor(modelItem => item.C20)
            </td>
            <td id="d21_1_@ae">
                @Html.DisplayFor(modelItem => item.C21)
            </td>
            <td id="d22_1_@ae">
                @Html.DisplayFor(modelItem => item.C22)
            </td>
            <td id="d23_1_@ae">
                @Html.DisplayFor(modelItem => item.C23)
            </td>
            <td id="d24_1_@ae">
                @Html.DisplayFor(modelItem => item.C24)
            </td>
            <td id="d25_1_@ae">
                @Html.DisplayFor(modelItem => item.C25)
            </td>
            <td id="d26_1_@ae">
                @Html.DisplayFor(modelItem => item.C26)
            </td>
            <td id="d27_1_@ae">
                @Html.DisplayFor(modelItem => item.C27)
            </td>
            <td id="d28_1_@ae">
                @Html.DisplayFor(modelItem => item.C28)
            </td>
            <td id="ex1_1_@ae">
                @Html.DisplayFor(modelItem => item.C29)
            </td>
            <td id="ex2_1_@ae">
                @Html.DisplayFor(modelItem => item.C30)
            </td>
            <td id="ex3_1_@ae">
                @Html.DisplayFor(modelItem => item.C31)
            </td>
            <td>

                @if (ViewBag.variable == null)
                {
                    @Html.DisplayFor(modelItem => item.Totalnull)
                }

                @if (ViewBag.variable == "S")
                {
                    @Html.DisplayFor(modelItem => item.TotalSickLeave)
                }

                @if (ViewBag.variable == "V")
                {
                    @Html.DisplayFor(modelItem => item.TotalVL)
                }

                @if (ViewBag.variable == "T")
                {
                    @Html.DisplayFor(modelItem => item.TotalTransefer)
                }

                @if (ViewBag.variable == "A")
                {
                    @Html.DisplayFor(modelItem => item.TotalAbsent)
                }

            </td>
            @*@if (ViewBag.variable == "A")
            {
                if (item.absapproved_ != true)
                 {
                     <td>
                         <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("approveabs",new{variable =@ViewBag.variable,month = @ViewBag.month,id=@item.ID ,idstr = @ViewBag.idstr})'" value="approve" />
                     </td>
                 }
            }*@
        </tr>
    }

</table>

<script>
    function GetAll(date) {

        var month = date.getMonth();
        var lastDayOfMonth = new Date(date.getFullYear(), date.getMonth() + 1, 0);
        var lastDay = lastDayOfMonth.getDate();
        var array = []; //dd/mm/yy
        for (var i = 1; i <= lastDay; i++) {

            var temp = new Date(date.getFullYear(), month, i);
            var day = temp.getDay();
            if (day == 5) // Thursday
            {

                var dd = temp.getDate();
                var mm = temp.getMonth() + 1;
                var mm0 = ('0' + mm.toString());
                mm0 = mm0.length == 3 ? mm0.substring(1, 3) : mm0;

                var dd0 = ('0' + dd.toString());
                dd0 = dd0.length == 3 ? dd0.substring(1, 3) : dd0;


                var yyyy = temp.getFullYear();
                array.push(dd);
            }
        }
        return array;
    }
    function onlo() {
        var aa = new Date($("#datepicker").val());
        var fd = GetAll(aa);
        for (var x in fd) {
            $('#C' + fd[x]).css("background-color", "red");
            $('#C' + fd[x]).css("color", "white");
            $('#d' + fd[x]).css("background-color", "red");
            $('#d' + fd[x]).css("color", "white");
            for (var l = 0; l <=@ae; l++) {
                $('#d' + fd[x] + "_1" + "_" + l).css("background-color", "red");
                $('#d' + fd[x] + "_1" + "_" + l).css("color", "white");
            }
            if (fd[x] == "29") {
                for (var k = 0; k <= @ae; k++) {
                    $("#ex1_1_" + k).css("background-color", "red");
                    $("#ex1_1_" + k).css("color", "white");
                }
                $("#ex1_2").css("background-color", "red");
                $("#ex1_2").css("color", "white");
            }
            if (fd[x] == "30") {
                for (var h = 0; h <= @ae; h++) {
                    $("#ex2_1_" + h).css("background-color", "red");
                    $("#ex2_1_" +h).css("color", "white");
                }
                $("#ex2_2").css("background-color", "red");
                $("#ex2_2").css("color", "white");
            }
            if (fd[x] == "31") {
                for (var g = 0; g <= @ae; g++) {
                    $("#ex3_1_" +g).css("background-color", "red");
                    $("#ex3_1_" +g).css("color", "white");
                }
                $("#ex3_3").css("background-color", "red");
                $("#ex3_3").css("color", "white");
            }
        }
        var md = daysInMonth(aa.getMonth(), aa.getFullYear());
        if (md == 28) {
            $('#ex1').hide();
            $('#ex2').hide();
            $('#ex3').hide();
            for (var f = 0; f <= @ae; f++) {
                $('#ex1_1_' + f).hide();
                $('#ex2_1_' + f).hide();
                $('#ex3_1_' + f).hide();
            }
            $('#ex1_2').hide();
            $('#ex2_2').hide();
            $('#ex3_3').hide();
        }
        if (md == 29) {
            $('#ex2').hide();
            $('#ex3').hide();
            for (var d = 0; d <= @ae; d++) {
                $('#ex2_1_' + d).hide();
                $('#ex3_1_' + d).hide();
            }
            $('#ex2_2').hide();
            $('#ex3_3').hide();
        }
        if (md == 30) {
            $('#ex3').hide();
            for (var i = 0; i <= @ae; i++) {
                $('#ex3_1_' + i).hide();
            }
            $('#ex3_3').hide();
        }
        //alert("no of days = " + md + " month = " + aa.getMonth() + " year = " + aa.getFullYear());
        if (aa.getDate() == 1) {
            $('#C1').attr("disabled", false);
        }
        if (aa.getDate() == 2) {
            $('#C1').attr("disabled", false);
            $('#C2').attr("disabled", false);
        }
        if (aa.getDate() == 3) {
            $('#C3').attr("disabled", false);
            $('#C2').attr("disabled", false);
        }
        if (aa.getDate() == 4) {
            $('#C3').attr("disabled", false);
            $('#C4').attr("disabled", false);
        }
        if (aa.getDate() == 5) {
            $('#C4').attr("disabled", false);
            $('#C5').attr("disabled", false);
        }
        if (aa.getDate() == 6) {
            $('#C5').attr("disabled", false);
            $('#C6').attr("disabled", false);
        }
        if (aa.getDate() == 7) {
            $('#C6').attr("disabled", false);
            $('#C7').attr("disabled", false);
        }
        if (aa.getDate() == 8) {
            $('#C7').attr("disabled", false);
            $('#C8').attr("disabled", false);
        }
        if (aa.getDate() == 9) {
            $('#C8').attr("disabled", false);
            $('#C9').attr("disabled", false);
        }
        if (aa.getDate() == 10) {
            $('#C9').attr("disabled", false);
            $('#C10').attr("disabled", false);
        }
        if (aa.getDate() == 11) {
            $('#C10').attr("disabled", false);
            $('#C11').attr("disabled", false);
        }
        if (aa.getDate() == 12) {
            $('#C11').attr("disabled", false);
            $('#C12').attr("disabled", false);
        }
        if (aa.getDate() == 13) {
            $('#C13').attr("disabled", false);
            $('#C12').attr("disabled", false);
        }
        if (aa.getDate() == 14) {
            $('#C13').attr("disabled", false);
            $('#C14').attr("disabled", false);
        }
        if (aa.getDate() == 15) {
            $('#C14').attr("disabled", false);
            $('#C15').attr("disabled", false);
        }
        if (aa.getDate() == 16) {
            $('#C15').attr("disabled", false);
            $('#C16').attr("disabled", false);
        }
        if (aa.getDate() == 17) {
            $('#C16').attr("disabled", false);
            $('#C17').attr("disabled", false);
        }
        if (aa.getDate() == 18) {
            $('#C17').attr("disabled", false);
            $('#C18').attr("disabled", false);
        }
        if (aa.getDate() == 19) {
            $('#C18').attr("disabled", false);
            $('#C19').attr("disabled", false);
        }
        if (aa.getDate() == 20) {
            $('#C19').attr("disabled", false);
            $('#C20').attr("disabled", false);
        }
        if (aa.getDate() == 21) {
            $('#C10').attr("disabled", false);
            $('#C11').attr("disabled", false);
        }
        if (aa.getDate() == 22) {
            $('#C21').attr("disabled", false);
            $('#C22').attr("disabled", false);
        }
        if (aa.getDate() == 23) {
            $('#C23').attr("disabled", false);
            $('#C22').attr("disabled", false);
        }
        if (aa.getDate() == 24) {
            $('#C23').attr("disabled", false);
            $('#c24').attr("disabled", false);
        }
        if (aa.getDate() == 25) {
            $('#C24').attr("disabled", false);
            $('#C25').attr("disabled", false);
        }
        if (aa.getDate() == 26) {
            $('#C25').attr("disabled", false);
            $('#C26').attr("disabled", false);
        }
        if (aa.getDate() == 27) {
            $('#C26').attr("disabled", false);
            $('#C27').attr("disabled", false);
        }
        if (aa.getDate() == 28) {
            $('#C27').attr("disabled", false);
            $('#C28').attr("disabled", false);
        }
        if (aa.getDate() == 29) {
            $('#C28').attr("disabled", false);
            $('#C29').attr("disabled", false);
        }
        if (aa.getDate() == 30) {
            $('#C29').attr("disabled", false);
            $('#C30').attr("disabled", false);
        }
        if (aa.getDate() == 31) {
            $('#C31').attr("disabled", false);
            $('#C30').attr("disabled", false);
        }
    }
    function daysInMonth(month, year) {
        return new Date(year, month + 1, 0).getDate();
    }
</script>