@model IEnumerable<HRworks.Models.username>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>users</h2>
@if (Request.IsAuthenticated)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.master_file.employee_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.master_file.employee_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.UserName)
            </th>
            <th>Roles</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.master_file.employee_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.master_file.employee_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
                </td>
                <td>
                    @{
                        var roles = "";
                        foreach (var role in item.AspNetUser.AspNetRoles)
                        {
                            if (roles != "")
                            {
                                roles = roles + "," + role.Name;
                            }
                            else
                            {
                                roles = role.Name;
                            }
                        }
                    }
                    @roles
                </td>
                <td>
                    
                    @Html.ActionLink("Edit", "ManageRoles", "Account", new { userId = item.aspnet_uid },"") 
                </td>
            </tr>
        }

    </table>
}