@using PagedList.Mvc
@model IEnumerable<HRworks.Models.passport>

<script type="text/javascript">

    function norc(parameters) {
        var x = document.getElementById("pageSize").value;
        alert("why did you double click");
        //        var y = document.getElementById("form1");
        //        y.submit();
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css"
      rel="stylesheet">
<link rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet"
      href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated)
{
<h2 style="text-transform: uppercase">passport</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <script type="text/javascript">
        var tableToExcel = (function () {
            var uri = 'data:application/vnd.ms-excel;base64,',
                template =
                    '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>',
                base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) },
                format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
            return function (table, name) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                window.location.href = uri + base64(format(template, ctx))
            }
        })()


    </script>
    @*
        <input type="button"
               onclick="tableToExcel('passport', 'passport')"
               value="Export to Excel"
               style="position: absolute; right: 2.5%; top: 12.5%">*@


    using (Html.BeginForm("Index", "passports", FormMethod.Get, new { id = "form1" }))
    {
        <div>
            @*Page Size:@Html.DropDownList("pageSize", null, new { @id = "pageSize"/*, @onchange = "norc()"*/ })
            *@<ul>
    page size:-
    <input type="text" name="pagesize" id="pagesize" />

    search:- @Html.TextBox("search") @*
        <input type="date" id="datepicker" class="form-control" name="pDate" />*@
    <input type="submit"
           name="submit"
           value="Search/change records" ondblclick="norc()" />
</ul>


        </div>
        <div>
            <a href="@Url.Action("DownloadExcel","passports",new{search=ViewBag.search})">Download Excel</a>
        </div>
        <div>
            @Html.PagedListPager((PagedList.IPagedList)Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, pagesize = ViewBag.pagesize }))
        </div>

        <table class="table"
               id="passport">
            <tr>@*
                <th>
                    @Html.DisplayNameFor(model => model.employee_no)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.master_file.employee_no)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.master_file.employee_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.company_code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.passport_no)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.passport_expiry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.passport_issue_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.passport_return_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.passport_remarks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.imgpath)
                </th>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("admin"))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.date_changed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.changed_by)
                        </th>
                    }
                }

            </tr>

            @foreach (var item in Model)
            {
                <tr>@*
                    <td>
                        @Html.DisplayFor(modelItem => item.employee_no)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.master_file.employee_no)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.master_file.employee_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.company_code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.passport_no)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.passport_expiry)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.passport_issue_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.passport_return_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.passport_remarks)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.imgpath)
                    </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("admin"))
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.date_changed)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.changed_by)
                            </td>
                        }
                    }
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.employee_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.employee_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.employee_id })
                    </td>
                </tr>
            }

        </table>
        @Html.PagedListPager((PagedList.IPagedList)Model, page => Url.Action("Index", new { page, pageSize = ViewBag.psize, search = ViewBag.search, pDate = ViewBag.pDate }));

    } @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")}
