@model HRworks.Models.ATTENDANCE_ADJUSTMENT

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ATTENDANCE_ADJUSTMENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date_prepared)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_prepared)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DJ_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DJ_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.late_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.late_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.early_out)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.early_out)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.master_file.employee_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.master_file.employee_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
