@model IEnumerable<HRworks.Models.ATTENDANCE_ADJUSTMENT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ATTENDANCE ADJUSTMENT</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date_prepared)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DJ_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.late_in)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.early_out)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.master_file.employee_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date_prepared)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DJ_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.late_in)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.early_out)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.master_file.employee_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
