@model HRworks.Models.emp_joi_sta_change

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>emp_joi_sta_change</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.action_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.action_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.New_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.New_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action_Taken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action_Taken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action_Taken2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action_Taken2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Basic_Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Basic_Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House_Rent_Allowance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House_Rent_Allowance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone_Allowance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone_Allowance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Living_Allowance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Living_Allowance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transportation_Allowance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transportation_Allowance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other_Allowances)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other_Allowances)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medical_Insurance_Policy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medical_Insurance_Policy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annual_Leave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annual_Leave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank_Name_Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank_Name_Branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank_Account_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank_Account_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action_as_of)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action_as_of)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.master_file.employee_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.master_file.employee_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
