@model HRworks.Models.contract

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated)
{
    <h2>Details</h2>

    <div>
        <h4>contract</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.employee_no)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.employee_no)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.master_file.employee_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.master_file.employee_name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.con_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.con_id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.designation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.designation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.grade)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.grade)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.departmant_project)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.departmant_project)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.salary_details)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.salary_details)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.basic)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.basic)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.housing_allowance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.housing_allowance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.transportation_allowance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.transportation_allowance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FOT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FOT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.food_allowance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.food_allowance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.living_allowance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.living_allowance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ticket_allowance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ticket_allowance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.others)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.others)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.arrears)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.arrears)
            </dd>



        </dl>
        <div>
            <img src="@Html.DisplayFor(model => model.master_file.img)"
                 alt="@Html.DisplayFor(model => model.master_file.employee_name)"
                 width=250
                 height=250 />
        </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.employee_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}