@model HRworks.Models.DUTY_HANDOVER

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DUTY_HANDOVER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.leave_start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leave_start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leave_end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leave_end)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reason_for_handover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reason_for_handover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RNR_HO1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RNR_HO1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RNR_HO2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RNR_HO2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RNR_HO3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RNR_HO3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RNR_HO4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RNR_HO4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RNR_HO5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RNR_HO5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.master_file.employee_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.master_file.employee_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.master_file1.employee_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.master_file1.employee_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
