@model HRworks.Models.rec_req_form

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>rec_req_form</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.projobtitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projobtitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reporting_to)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reporting_to)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type_of_hire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type_of_hire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.new_hire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.new_hire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.justification_NH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.justification_NH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proposed_salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proposed_salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.replacement_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replacement_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gross_salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gross_salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.J_P_specification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.J_P_specification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age_range_from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age_range_from)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edu_qua_and_ex_required)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edu_qua_and_ex_required)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.add_req_job_resp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.add_req_job_resp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
