@model IEnumerable<HRworks.Models.hik>

@{
    ViewBag.Title = "Absent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Absent</h2>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function () {
        $("#getdate").datepicker({
            altField: "#alternate",
            altFormat: "MM,yy",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            dateFormat: "dd M yy"
        });
    });


</script>
@using (Html.BeginForm("Absent", "hiks"))
{
    <div class="row">
        <div class=" col-md-2">
            <input type="text" name="getdate" id="getdate" class="form-control" />
        </div>
        <div class=" col-md-1">
            <input type="submit" value="search" class="btn btn-default" />
        </div>
        @if (ViewBag.eddate != null)
        {
            <div class="col-md-5">
                <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("DownloadExcel2", "hiks", new { getdate = ViewBag.eddate })'" value="Export" />
            </div>
        }
    </div>
    <br />

}

<table class="table">
    <tr>
        <th>#SN</th>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person)
        </th>
        @*<th></th>*@
    </tr>
    @{
        var i = 0;
    }
    @foreach (var item in Model)
    {
        i++;
<tr>
    <td>@i</td>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Person)
    </td>@*
    @if (item.absence_approved != true)
    {
        <td>
            <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Abstransfer", "hiks", new {id=@item.ID , date1=@item.date,empnos=@ViewBag.absapp })'" value="approve" />
        </td>
    }*@
</tr>
    }

</table>