@model HRworks.Models.hik

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>hik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Device)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Device)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
