@model IEnumerable<HRworks.Models.hikshrs>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>attendance</h2>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function() {
        $("#getdate").datepicker({
            altField: "#alternate",
            altFormat: "MM,yy",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            dateFormat: "dd M yy"
        });
    });


</script>
@using (Html.BeginForm("Index","hiks"))
{
    <div class="row">
        <div class=" col-md-2">
            <input type="text" name="getdate" id="getdate" class="form-control" />
        </div>
        <div class=" col-md-1">
            <input type="submit" value="search" class="btn btn-default" />
        </div>
        <div class="col-md-5">
            <input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("DownloadExcel", "hiks", new {  getdate = ViewBag.eddate })'" value="Export"/>
            
            </div>
    </div>
    <br/>
}
<table class="table">
    <tr>
        <th>#SN</th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datetime1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hours)
        </th>
    </tr>
    @{
        var i = 0;
    }
    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datetime1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hours.Hours)
            </td>
        </tr>
}

</table>
